

.widget {
  display: block;
  position: relative;
  margin-bottom: 30px;
  /* padding: $widget-padding-y $widget-padding-x; */
  background: grey
}

.title {
  margin-top: 0;
  margin-bottom: 1.5rem / 2;
  color: Blue

  /* @include clearfix(); */
}
